/* reset */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
margin: 0; padding: 0;}
body, button, input, select, textarea {font: 12px/1.5 tahoma,arial,宋体;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;}
address, cite, dfn, em, var {font-style: normal;}
code, kbd, pre, samp {font-family: courier new,courier,monospace;}
small {font-size: 12px;} 
ul, ol {list-style: none; }/*outside:none;*/
a{text-decoration: none;}
a:hover {text-decoration: none;}
sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}
legend {color: #000000;}
fieldset, img {border: 0 none;}
button, input, select, textarea {font-size: 100%;}
table { border-collapse: collapse;border-spacing: 0;}

.clearfix:before,
.clearfix:after { content: " "; /* 1 */
    display: table; /* 2 */}
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.width1000{width: 1000px; margin: 0 auto}